<fieldset class="app-filter-options">
  <legend>{{ legend }}</legend>
  <div class="app-filter-options__grid">
    <label
      v-for="option in options"
      :key="option.value"
      class="app-filter-option"
      :class="{ active: isSelected(option.value), multiple }"
    >
      <input
        :name="multiple ? `${name}[]` : name"
        :type="multiple ? 'checkbox' : 'radio'"
        :value="option.value"
        :checked="isSelected(option.value)"
        @change="selectOption(option.value)"
      />
      <span>{{ option.label }}</span>
    </label>
  </div>
</fieldset>
