@keyframes move {
  100% {
    transform: translate3d(0, 0, 1px) rotate(360deg);
  }
}

.background {
  position: fixed;
  width: 100vw;
  height: 100vh;
  top: 0;
  left: 0;
  background: #1c1c1c;
  overflow: hidden;
  z-index: 0;
}

.background span {
  position: absolute;
  width: 20vmin;
  height: 20vmin;
  border-radius: 50%;
  backface-visibility: hidden;
  animation: move linear infinite;
  box-shadow: -40vmin 0 5.7vmin currentColor;
  opacity: 0.2;
  transition: opacity 0.3s ease;
}

/* Reacción al escribir */
.background.react span {
  opacity: 0.6;
}

/* Ocultar scrollbar */
